<!-- INCLUDE overall_header.html -->

<h2>{L_FAQ_TITLE}</h2>

<div id="message" class="rules" style="background-color:#CADCEB; color:black; font-size: 12px">
			<div class="inner" style="text-align: center"><span class="corners-top"><span></span></span>
				<strong>Před položením dotazu</strong> se nejprve podívejte do často kladených otázek, zda v nich nenaleznete odpověď na vaši otázku. Ušetříte tak čas.

				<div style="margin-top: 8px; text-align: center">
					<span style="height: 16px; margin: 0.5em 0pt; background: url(&quot;./icons/firefox-16.png&quot;) no-repeat scroll 10px 0pt transparent; padding: 2px 0pt 0pt 35px;"><strong><a href="http://www.mozilla.cz/podpora/firefox/reseni-nejcastejsich-problemu/">Často kladené otázky k Firefoxu</a></strong></span>
					<span style="height: 16px; margin: 0.5em 0pt; background: url(&quot;./icons/thunderbird-16.png&quot;) no-repeat scroll 10px 0pt transparent; padding: 2px 0pt 0pt 35px;"><strong><a href="http://www.mozilla.cz/podpora/thunderbird/">Často kladené otázky k Thunderbirdu</a></strong></span>
				</div>
			<span class="corners-bottom"><span></span></span></div>
		</div>

<div class="panel bg1" id="faqlinks">
	<div class="inner"><span class="corners-top"><span></span></span>
		<div class="column1">
		<!-- BEGIN faq_block -->
			<!-- IF faq_block.SWITCH_COLUMN or (SWITCH_COLUMN_MANUALLY and faq_block.S_ROW_COUNT == 4) -->
				</div>

				<div class="column2">
			<!-- ENDIF -->

			<dl class="faq">
				<dt><strong>{faq_block.BLOCK_TITLE}</strong></dt>
				<!-- BEGIN faq_row -->
					<dd><a href="#f{faq_block.S_ROW_COUNT}r{faq_block.faq_row.S_ROW_COUNT}">{faq_block.faq_row.FAQ_QUESTION}</a></dd>
				<!-- END faq_row -->
			</dl>
		<!-- END faq_block -->
		</div>
	<span class="corners-bottom"><span></span></span></div>
</div>



<div class="clear"></div>

<!-- BEGIN faq_block -->
	<div class="panel <!-- IF faq_block.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
		<div class="inner"><span class="corners-top"><span></span></span>

		<div class="content">
			<h2>{faq_block.BLOCK_TITLE}</h2>
			<!-- BEGIN faq_row -->
				<dl class="faq">
					<dt id="f{faq_block.S_ROW_COUNT}r{faq_block.faq_row.S_ROW_COUNT}"><strong>{faq_block.faq_row.FAQ_QUESTION}</strong></dt>
					<dd>{faq_block.faq_row.FAQ_ANSWER}</dd>
					<dd><a href="#faqlinks" class="top2">{L_BACK_TO_TOP}</a></dd>
				</dl>
				<!-- IF not faq_block.faq_row.S_LAST_ROW --><hr class="dashed" /><!-- ENDIF -->
			<!-- END faq_row -->
		</div>

		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- END faq_block -->

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
